*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
li{
    list-style: none;
}
h1{
    font-size:43px;
}
select{
    color:#314584;
}
input{
    color:#314584;
    font-size: 18px;
    background-color:#f4fafe;
    border:none;
    flex-basis:49%;
    height:55px;
    padding-left:30px;
}

.img{
    object-fit: contain;
    width: 100%;
}
a{
    text-decoration:none;
    display:block;
   
}

/* Custom Style */
.wrapper{
    width: 100%;
}

.container{
    max-width: 1172px;
    margin: auto;
}











/* Section Style */
.header-container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap;
    align-items: center;
    padding:65px 0px 110px 0px;
}
.header-container>div{
    flex-grow:1;
}
.header-logo{
    text-align: center;
    flex-basis:15%;
}
.header-navigation{
    
    flex-basis:50%;
    
}
.header-lang-btn{
    flex-basis:20%;
}
.header-lang-btn button{
    width:200px;
    height:60px;
    border:none;
    background-color:white;
    color:#ff3946;
    background-image: url('../img/arrow/Arrow.png');
    background-repeat: no-repeat;
    border-radius:5px;
    box-shadow: 0px 10px 15px rgba(0,0,0,0.1);
    background-position-x: 150px;
    background-position-y: 22px;
    cursor:pointer;
}
.header-lang-btn select{
    border:none;
    color:#314584;
}
.burger{
    
    display:none;
}
.navigation-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.navigation-container>li{
    flex-grow: 1;
}
.flex{
    display: flex !important;
}
.title{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}
.title-container{
    display: flex;
    flex-direction:column;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis:50%;
}
.title-container h1{
    font-size:73px;
    color: #314584;
}
.title-container p{
    font-size:18px;
    color:#6e757a;
    margin:4% 0%;
}
.btns{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;

}
.btns button{
    width:200px;
    height:55px;
    background-color:#ff3946;
    color:white;
    border:none;
    border-radius:50px;
    font-size:18px;
}
.btns a{
    flex-grow:1;
}
.img-container{
    flex-basis:50%;
}
.img-container img{
    max-width: 1000px;
}


.card-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top:200px;

}
.title-card-container{
    
    color: #314584;
    font-size:48px;
}
.title-card-container h2{
    padding: 0px 300px 50px 0px;
  
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}
.card{
    background-color:#c3d0d8;
    flex-grow: 1;
    width: 370px;
    height: 280px;
    margin: 0.8% 0.8%;
}
.btn-card{
    text-align: center;
    margin: 2% 0%;
}
.btn-card button{
    border:none;
    background:none;
    cursor:pointer;
    font-size:18px;
    color:#ff3946;
}


.form-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top:300px;
}
.form-title p{
    font-size:18px;
    text-transform:uppercase;
    color:#ff3946;
    font-weight:600;
}
.form-title h2{
    font-size:48px;
    color:#314584;
}
form{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap:wrap;
    align-items: center;
    margin:5% 0%;
}
.input-form{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form-area{
    width: 100%;
    display:flex;
    margin:20px 0px;
}
.form-area textarea{
    flex-basis:100%;
    border:none;
    background-color:#f4fafe;
    height: 128px;
    color:#314584;
    font-size: 18px;
    padding-top:20px;
    padding-left:20px;
}
.form-btn{
    width: 100%;
    flex-grow: 1;
    text-align: center;
    margin: 50px 0px;
}
.form-btn button{
    width:200px;
    height:55px;
    background-color:#ff3946;
    color:white;
    border:none;
    border-radius:50px;
    font-size:18px;
    cursor:pointer;
}


footer{
    background-color:#314584;
    text-align:center;
    padding: 70px 0px 0px 0px;
}
.footer-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}
.footer-container>div{
    flex-grow: 1;
   
}
.footer-container p{
    color:white;
}
.footer-container h2{
    color:#ff3946;
    text-transform:uppercase;
    font-size:48px;
}
.footer-container a{
    color:white;
}
.footer-container>.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.footer-container>.nav{
    margin: 55px 0px;
}
.doob{
    margin: 0px 0px 25px 0px;
}
.footer-container>.logo{
    margin: 25px 0px 50px 0px;
}
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}



.toggle{
    position: absolute;
	top: 10%;
	left: 5%;
	transform: translate(-50%,-50%);
	width: 50px;
	height: 50px;
	background-color: #ff3946;
	box-shadow: 0 5px 10px rgba(0,0,0,.5);
	border-radius: 3px;
    cursor: pointer;
    z-index:1900;

}
span{
position: absolute;
width: 34px;
height: 4px;
display: block;
background-color: white;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
box-shadow: 0 3px 3px rgba(0,0,0,.3);
border-radius: 2px;
transition: .1s;
transition-delay: .1s;
}
span:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    display: block;
    top: -10px;
    left: 0;
    border-radius: 2px;
    box-shadow: 0 3px 3px rgba(0,0,0,.3);
    transition-property: top;
    transition-delay: .1s;
    transition-duration: .1s;
}
span:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    display: block;
    top: 10px;
    left: 0;
    border-radius: 2px;
    box-shadow: 0 3px 3px rgba(0,0,0,.3);
    transition-property: top;
    transition-delay: .1s;
    transition-duration: .1s;
}
.active span{
    background-color: transparent;
		box-shadow: 0 3px 3px rgba(0,0,0,0);
}
.active span:before{
    top: 0;
    transform: rotate(45deg);
    transition-delay: .3s;
}
.active span:after{
    top: 0;
    transform: rotate(-45deg);
    transition-delay: .3s;
}

























@media (max-width:768px){
    .header-logo{
        text-align: center;
        flex-basis:20%;
    }
    .header-navigation{
        flex-grow:2;
        flex-basis:50%;
      
    }
    .header-lang-btn{
        flex-basis:20%;
        display:flex;
        flex-direction: column;
    }
    .burger{
        flex-basis:10%;
        display:block;
    }
    .header-container{
     display: none;
     flex-direction: column;
    }
    .navigation-container{
        flex-direction: column;
        text-align:center;
        margin:10% 0%;
    }
    main{
        margin-top:100px;
    }
    form{
        flex-wrap: nowrap;
    }
    .title-card-container h2{
        padding:0px;
    }
    .input-form{
        flex-direction: column;
    }
    .input-form>input{
        margin: 1% 0;
    padding: 1%;
    }
    .title-container h1{
        font-size:36px;
    }
    .title-card-container{
        font-size: 24px;
        text-align:center;
    }
    .btns{
        text-align: center;
    }
    .form-container{
        margin-top:50px;
    }
    .card-container{
        margin-top:50px;
    }
}